/node_modules
/logs
**/logs
/dist
.env




# Ignorar reports crudos de Jest (si quieres solo HTML)
reports/coverage/*.json
reports/coverage/*.xml
reports/coverage/*.info

# Mantener los HTML bonitos
!reports/tests-report.html
!reports/coverage/index.html
!reports/coverage/lcov-report/**